In [10]:
import pandas as pd
df=pd.read_csv("D:\details of student.csv")
df

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_4888\194787048.py:2: SyntaxWarning: invalid escape sequence '\d'
  df=pd.read_csv("D:\details of student.csv")

                  Unnamed Unnamed: 1
Stu_id Name           DOB     Result
S01    Aarya   12.04.2007       Pass
S02    Bala    12.10.2008       Pass
S03    Charu   12.07.2007       Fail
S04    Elakya  12.09.2008       Pass
S05    Fahad   12.03.2008       Fail

In [11]:
new_df_01=pd.read_csv("D:\details of student.csv",skiprows=1)
new_df_01

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_4888\3856393191.py:1: SyntaxWarning: invalid escape sequence '\d'
  new_df_01=pd.read_csv("D:\details of student.csv",skiprows=1)

  Stu_id    Name         DOB Result
0    S01   Aarya  12.04.2007   Pass
1    S02    Bala  12.10.2008   Pass
2    S03   Charu  12.07.2007   Fail
3    S04  Elakya  12.09.2008   Pass
4    S05   Fahad  12.03.2008   Fail

In [12]:
new_df_02=pd.read_csv("D:\details of student.csv",header=1)  
new_df_02

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_4888\30155948.py:1: SyntaxWarning: invalid escape sequence '\d'
  new_df_02=pd.read_csv("D:\details of student.csv",header=1)

  Stu_id    Name         DOB Result
0    S01   Aarya  12.04.2007   Pass
1    S02    Bala  12.10.2008   Pass
2    S03   Charu  12.07.2007   Fail
3    S04  Elakya  12.09.2008   Pass
4    S05   Fahad  12.03.2008   Fail