In [2]:
import pandas as pd
df=pd.read_csv("D:\details of student__ 02.csv",header=None)
df

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_9112\2394168750.py:2: SyntaxWarning: invalid escape sequence '\d'
  df=pd.read_csv("D:\details of student__ 02.csv",header=None)

     0       1           2     3
0  S01   Aarya  12.04.2007  Pass
1  S02    Bala  12.10.2008  Pass
2  S03   Charu  12.07.2007  Fail
3  S04  Elakya  12.09.2008  Pass
4  S05   Fahad  12.03.2008  Fail

In [3]:
new_df=pd.read_csv("D:\details of student__ 02.csv",header=None,names=["Student_id","Student_Name","Date_Of_Birth","Final_Result"])
new_df

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_9112\167231606.py:1: SyntaxWarning: invalid escape sequence '\d'
  new_df=pd.read_csv("D:\details of student__ 02.csv",header=None,names=["Student_id","Student_Name","Date_Of_Birth","Final_Result"])

  Student_id Student_Name Date_Of_Birth Final_Result
0        S01        Aarya    12.04.2007         Pass
1        S02         Bala    12.10.2008         Pass
2        S03        Charu    12.07.2007         Fail
3        S04       Elakya    12.09.2008         Pass
4        S05        Fahad    12.03.2008         Fail