In [3]:
import pandas as pd
df=pd.read_csv("D:\stock.csv")
df

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_4328\4188530888.py:2: SyntaxWarning: invalid escape sequence '\s'
  df=pd.read_csv("D:\stock.csv")

  Product_id              Name       Quantity   Price
0       P123  Britania_biscuit          1 box  Rs.250
1       P469       Gold_winner          1 ltr     NaN
2       P178            Almond  not available  Rs.120
3        P50            Cashew          100 g  Rs.120

In [4]:
new_df=pd.read_csv("D:\stock.csv",na_values=["not available","na"])
new_df

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_4328\1305252695.py:1: SyntaxWarning: invalid escape sequence '\s'
  new_df=pd.read_csv("D:\stock.csv",na_values=["not available","na"])

  Product_id              Name Quantity   Price
0       P123  Britania_biscuit    1 box  Rs.250
1       P469       Gold_winner    1 ltr     NaN
2       P178            Almond      NaN  Rs.120
3        P50            Cashew    100 g  Rs.120