In [5]:
import pandas as pd
df="D:\student_info.csv"
data=pd.read_csv(df)
data

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Naga-Meena-Sabari\AppData\Local\Temp\ipykernel_4696\4125822846.py:2: SyntaxWarning: invalid escape sequence '\s'
  df="D:\student_info.csv"

,student_id,name,gender,age,grade_level,math_score,reading_score,writing_score,attendance_rate,parent_education,study_hours,internet_access,lunch_type,extra_activities,final_result
0,S1,Student_1,Other,17,10,74,61,90,94.660002,Master's,4.120192,Yes,Free or reduced,Yes,Fail
1,S2,Student_2,Male,17,12,99,70,91,93.173227,Bachelor's,2.886505,No,Free or reduced,No,Pass
2,S3,Student_3,Other,17,9,59,60,99,98.631098,PhD,1.909926,No,Free or reduced,No,Fail
3,S4,Student_4,Other,17,12,70,88,69,96.419620,PhD,1.664740,No,Standard,No,Pass
4,S5,Student_5,Male,15,9,85,77,94,91.332105,PhD,2.330918,Yes,Free or reduced,No,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S996,Student_996,Female,15,10,76,75,55,94.127440,Bachelor's,2.212263,Yes,Free or reduced,No,Fail
996,S997,Student_997,Female,17,12,83,68,98,86.911592,Bachelor's,3.552898,No,Free or reduced,Yes,Fail
997,S998,Student_998,Other,16,10,60,77,92,80.139645,PhD,2.400027,No,Free or reduced,No,Pass
998,S999,Student_999,Other,17,9,94,66,97,88.069619,PhD,4.713490,No,Free or reduced,Yes,Pass
999,S1000,Student_1000,Male,17,9,96,92,93,84.695088,PhD,1.262504,No,Free or reduced,Yes,Pass